<h1>Contacts</h1>
<h2>First Name: <%= @contact.first_name %></h2>
<h2>Last Name: <%= @contact.last_name %></h2>
<h3>Email: <%= @contact.email %></h3>
<h3>Phone Number: <%= @contact.phone_number %></h3>